<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800 font-sans leading-relaxed">
  <header class="bg-purple-800 text-white p-6 text-center shadow-md">
    <div class="flex items-center justify-center space-x-4">
      <img src="/assets/images/logo.png" alt="Tulish.co logo" class="h-12 w-12 rounded-full shadow-md">
      <h1 class="text-4xl font-bold">
        <a href="/" class="hover:underline">Tulish.co</a>
      </h1>
    </div>
    <nav class="mt-2">
      <a href="/" class="mx-3 underline">Home</a>
      <a href="/blog/" class="mx-3 underline">Blog</a>
    </nav>
  </header>
  
  <main class="max-w-3xl mx-auto p-6">
    {{ content | safe }}
  </main>

  <footer class="text-center text-gray-800 py-6 bg-gray-100 mt-10">
    Contact me at 
  </footer>
</body>
</html>
